/* CSS FOR 98SeaTurtles DoorSign */

body {
	margin: 0;
}
iframe {
	overflow: hidden;
}
#main {
	height: 1366px;
	width: 768px;
	background-color: black;
	text-align: center;
}
#cardmessage-frame {
    display: none;
}
#header {
	background-color: green;
	color: yellow;
}
#title {
	font-size: 60pt;
}
#status {
	font-size: 48pt;
}
.home {
	background-color: green;
}
.away {
	background-color: grey;
}
.do-not-disturb {
	background-color: red;
}
